/* Main-area general styles. */
.writing {
	position: relative;
	width: 45%;
	margin: 0px auto;
	font-family: Tahoma;
}
.writing > hr {
	color: #000099;
	height: 2px;
	margin: 32px;
}
.writing > div > p {
	line-height: 1.5em;
	font-size: 100%;
}

/* General Sub-section styles. */
.writing div.subsections {
	margin:16px;
}
.writing div.subsections p+p {
	margin-top: 20px;
}
.writing div.subsections div {
	padding-bottom:20px;
}
.writing div.subsections div+div {
	margin-top:20px;
}
.writing div.subsections h3 {
	margin-bottom:8px;
	font-family: Verdana;
	font-weight:bold;
}

/* Main-area general styles. */
.writing h2 {
	font-family: Impact;
	font-size: 32px;

	position: relative;
	border-bottom:2px solid #000099;
	padding-bottom:12px;
	margin-bottom:20px;
}

/* Article meta data. */
.writing dl {
	top: 0px;
	right: 0px;
	text-align: right;
}
.writing dl dt {
	display: none;
}

/* External References */
.writing .references {
	margin:20px 0px 0px 0px;
}
.writing .references li+li{
	display:block;
	margin-top:8px;
}

/* Rail */
.writing .rail {
	position: fixed;
	width: 300px;
	left:75%;
	top: 20px;
}
.writing .rail div+div {
	margin-top:20px;
}

/* copyrights */
.copyrights {
	clear:both;
	text-align:right;
}

